[2021-04-21 18:08] rajatgupta24 commented on #3313
Hey @jstrachan, can I start working on it?

[2021-05-06 08:29] jstrachan commented on #3208
see https://github.com/jenkins-x/issues/issues/35

[2021-05-06 08:29] #3208 closed

[2021-05-06 09:08] jstrachan commented on #3270
did you follow these instructions?
https://jenkins-x.io/v3/admin/platforms/minikube/

I think the error: `Error: unknown command "gitops" for "jx"` means you've an old version of `jx` on your `$PATH` - probably from v2?

please download a v3 version: https://jenkins-x.io/v3/guides/jx3/

[2021-05-06 09:32] jstrachan commented on #3224
see: https://jenkins-x.io/v3/develop/apps/#adding-charts

[2021-05-06 09:32] #3224 closed

[2021-05-06 09:40] jstrachan commented on #3225
BTW does the overview page help?
https://jenkins-x.io/v3/about/overview/

Jenkins X automates CI + CD for applications on kubernetes to avoid you having to write and maintain your own pipelines, adds preview environments on Pull Requests, releases your applications and automatically promotes new versions through your environments via GitOps

Install Jenkins X in your cluster:
https://jenkins-x.io/

[2021-05-06 10:24] jstrachan commented on #3233
I've just polished the [how to setup multi cluster](https://jenkins-x.io/v3/admin/guides/multi-cluster/multi-cluster/) docs to hopefully make that much more clear - thanks!

[2021-05-06 10:24] #3233 closed

[2021-05-06 10:24] jstrachan commented on #3234
we've just polished the docs on [how to setup multi cluster](https://jenkins-x.io/v3/admin/guides/multi-cluster/multi-cluster/)

We've got a repository with a cut down pre-prod / production cluster: https://github.com/jx3-gitops-repositories/jx3-kubernetes-production which has the development services (tekton, lighthouse, nexus etc) removed

[2021-05-06 10:24] #3234 closed

[2021-05-06 10:28] jstrachan commented on #3113
here's the v3 install instructions now...
https://jenkins-x.io/v3/admin/

hopefully its more clear now

[2021-05-06 10:28] #3113 closed

[2021-05-06 10:29] jstrachan commented on #3112
hopefully the docs are more clear now

[2021-05-06 10:29] #3112 closed

[2021-05-06 10:33] #3308 closed

[2021-05-08 12:45] visteras opened #3330 "Change the color of links in the documentation"
**Problem:**
Links are simply not visible against the background of plain text.
Yes, I think this is a mistake. They are very helpful in figuring out how to start using JenkinsX

**Proposed Solution:**
Change color for link

**Page to Update:**
https://jenkins-x.io/docs/....
Any!

[2021-06-01 14:00] david-gonzalez-imatia opened #3351 "Add information about the repositories to install Istio"
**This is a Feature Request**

**What would you like to be added**

In the documentation Admin Guide/Guides/Progressive Delivery (https://jenkins-x.io/v3/admin/guides/progressive-delivery/) the description of the modifications in the helmfile.yaml to install Istio should include the information about the repositories in the section repositories of the file.

The path of the file in the repository

[2021-06-07 15:23] GPWebb opened #3354 "AWS EKS infrastructure setup guide isn't clear about environment variables"
The AWS setup guide (https://jenkins-x.io/v3/admin/platforms/eks/) references an infrastructure creation guide (https://github.com/jx3-gitops-repositories/jx3-terraform-eks/blob/main/README.md). This contains the instruction:

I can't see where the documentation states _where_ to define that environment variable though; it's in the context of shell commands for setup. The preceding commands will a

[2021-06-09 08:50] jreuben11 opened #3357 "Catalog"
jenkins-x v3 cloud-native gitops - a complicated setup with many moving parts and no written tutorials. Uses Tekton (which is well documented in comparison) - Its great that it leverages all these open source ecosystem infra libs, but the process really needs to be simplified and the details hidden.
Needed: gitops 101 guidance for each mainstream language to use jenkins-X to run basic CI: lint, te

[2021-06-14 08:02] mharsing opened #3360 "Jenkins X 3.x"

[2021-06-21 13:45] bigon opened #3371 "Documentation mention deprecated requirements.yaml helm file"
Hello,

In the https://jenkins-x.io/v3/develop/environments/preview/#adding-more-resources page, there are mention of both `preview/helmfile.yaml` and `charts/preview/requirements.yaml`.

Is the the later still relevant?

[2021-06-22 13:08] amino19 commented on #3072
@ankitm123 : Is the work done?

[2021-06-22 13:09] amino19 commented on #2960
@ankitm123 : What's the status about this?

[2021-06-22 16:16] amino19 commented on #3313
@rajatgupta24 : Shall I work on this?

[2021-06-23 07:12] shubhamunthinkable1 opened #3375 "Enable WebHooks"
![image](https://user-images.githubusercontent.com/81431756/123052304-4e24ab00-d420-11eb-8f12-0dd366420d88.png)

in the doc path mentioned is not present in gitops repository i.e. charts/jenkins-x/jxboot-helmfile-resources/values.yaml

in kubernetes installation repo there is no chart directory present.

doc link: https://jenkins-x.io/v3/admin/platforms/on-premises/webhooks/
repo link: https://git

[2021-06-23 07:17] shubhamunthinkable1 commented on #3375
doc link: https://jenkins-x.io/v3/admin/platforms/on-premises/webhooks/

[2021-06-23 07:18] shubhamunthinkable1 commented on #3375
closed by mistake

[2021-06-24 10:57] amino19 commented on #3313
/assign

[2021-06-25 22:10] #3313 closed

[2021-06-26 17:43] bmcgair opened #3385 "docs don't reflect code"
make the documentation correspond to the actual code. For example:

~/GitHub/cluster$ jx boot
Error: unknown command "boot" for "jx"

~/GitHub/cluster$ jx step verify install
Error: unknown command "step" for "jx"

[2021-06-26 17:48] bmcgair opened #3386 "no solutions on page"
~/GitHub/cluster$ kubectl get ing
No resources found in jx namespace.

Great, that's the  problem, but not a word on this page as to how to fix it.

[2021-06-26 17:57] bmcgair opened #3387 "This just doesn't work"
Write documentation that builds a cluster that works.

[2021-06-28 08:15] hervelemeur commented on #3385
Where did you see that? Are you sure you're on the jx3 doc version and not on the jx2 one?

[2021-06-28 08:16] hervelemeur commented on #3386
Which page are you talking about?

[2021-07-06 14:53] jstrachan commented on #3387
@bmcgair could you give a bit more detail? what kind of cluster? which page did you follow?

[2021-07-06 14:53] jstrachan commented on #3386
sounds like your install didn't do anything. try `jx admin log` to see why the boot job failed?

[2021-07-06 14:54] jstrachan commented on #3385
I guess you were looking at old v2 docs - see the v2 doc warning on v2 docs in the breadcrumbs

[2021-07-06 14:54] #3385 closed

[2021-07-06 14:54] jstrachan commented on #3360
I've no idea what this issue means?

[2021-07-06 14:54] #3360 closed

[2021-07-06 15:00] jstrachan commented on #3357
@jreuben11 Jenkins X is intended to be used to setup a cluster as per: https://jenkins-x.io/v3/admin/

you are free to use the CLI in other places/clusters/setups but thats much harder but the CLI reference is maybe your best place to start: https://jenkins-x.io/v3/develop/reference/jx/

[2021-07-07 06:11] #3270 closed

[2021-07-27 13:26] lukeplausin opened #3404 "Clearer instructions for installing Jenkins X with Helm"
I'm new here to Jenkins X. I'd like to evaluate the tool on an existing cluster which runs on AWS EKS. The official install instructions tell you to clone a git repo, launch a new EKS cluster with some terraform and a lot of other stuff.

I don't want to do all that. I already have a cluster up and running with most of what I need. I would expect a K8 cloud native tool to have clear instructions e

[2021-08-02 12:31] babadofar opened #3410 "Cluster Recovery Demo"
This guide should perhaps make clear that we now can use github pages as Helm Chart museum

[2021-08-17 15:50] anandagirish2 opened #3421 "Sucks"

[2021-08-17 15:50] #3421 closed

[2021-08-21 18:31] proth1 opened #3426 "Suggested correction for a typo. The word "how" should be "now"."
Following is the text snippet:

Preview environments **how** use helmfile as

[2021-09-06 09:20] zpzjzj opened #3431 "Lighthouse WebUI"
[code]
jx3 failed in latest jx3-kubernetes config file
[code]
should changed to jxgh/lighthouse-webui-plugin

[2021-09-28 15:45] haysclark opened #3450 ""multi-cluster-example" instructions are out of date"
**This is a Bug Report**

**Problem:**
The documentation has out of date steps.

**Proposed Solution:**
Update the steps

**Page to Update:**
https://jenkins-x.io/v3/admin/guides/multi-cluster/multi-cluster-example/

[2021-09-28 17:02] #3450 closed

[2021-10-01 12:51] AnirudhPanda commented on #3426
Is this for hacktoberfest? or how can I reproduce this?

[2021-10-05 16:49] #3431 closed

[2021-10-05 17:09] ankitm123 commented on #3426
@AnirudhPanda the typo is here: https://github.com/jenkins-x/jx-docs/blob/main/content/en/v3/about/changes.md?plain=1#L66
To build the docs locally, look at the contribution guide: https://jenkins-x.io/community/documentation/#docker-compose-method

I dont have an answer for it. @rawlingsj wdyt?

[2021-10-05 17:28] ankitm123 commented on #3426
@AnirudhPanda go ahead with the contribution! I added the label for it ...

[2021-10-05 18:14] ankitm123 commented on #2960
/remove-lifecycle rotten

[2021-10-05 18:19] ankitm123 commented on #2960
@amino19 the issue still exists.

[2021-10-05 18:20] ankitm123 opened #3455 "update/Improve contribution page"
**This is a Feature Request**
The contribution page on setting up JenkinsX v3 for contributors is stale: https://jenkins-x.io/community/code/
It would be nice to update it.

Context: https://github.com/jenkins-x-plugins/jx-project/issues/425

[2021-10-05 18:22] ankitm123 commented on #3072
Yes, this can be closed. This was done already.

[2021-10-05 18:22] #3072 closed

[2021-10-05 18:23] ankitm123 commented on #3089
/remove-lifecycle rotten

[2021-10-05 18:25] ankitm123 opened #3456 "Document support for AWS secrets manager"
**This is a Feature Request**
AWS secrets manager now works, so it should be documented.

[2021-10-05 18:27] ankitm123 opened #3457 "Document support for external vault"
**This is a Feature Request**
JenkinsX v3 has support for external vault now. This should be documented. Context can be found here:
https://kubernetes.slack.com/archives/C9MBGQJRH/p1632846264193800

[2021-10-05 19:28] ankitm123 commented on #3404
I will update the docs, but for now you can refer to this: https://github.com/jenkins-x/terraform-aws-eks-jx#existing-eks-cluster

[2021-10-05 19:28] #3426 closed

[2021-10-05 19:35] amino19 commented on #2960
I hadn't fixed the sidebar, the issue was regarding [mobile view](https://github.com/jenkins-x/jx-docs/issues/3313), and I fixed it [here](https://github.com/jenkins-x/jx-docs/pull/3381).
Pl have a view, & check whether anything from my end has pending to work-on! :slightly_smiling_face:

[2021-10-05 21:25] ankitm123 commented on #2960
So, the original issue was missing sidebar for screen width less than 768px, that issue still persists, try to render this page using developer tools for any device with width less than 768px, and the sidebar is still missing: https://jenkins-x.io/v3/about/

Ofc, we dont want a sidebar, instead a hamburger icon is the right thing to do ...

As for mobile view, it still seems broken for anything le

[2021-10-06 08:36] #3457 closed

[2021-10-06 11:07] ankitm123 commented on #2960
FYI, If you are fixing it, let me know, and I can add an hacktoberfest label to it.

[2021-10-06 13:33] Harsh-Singh-Rajput commented on #3330
@visteras  can you please explain which colour of which links you want to change in the site
or you want to change the colour of all the links in the site

[2021-10-15 20:06] haysclark opened #3466 "multi-cluster-example setup causes issues with autoupdate functionality"
**This is a Bug Report**

**Problem:**
Autoupdate will keep adding `jx-build-contorller` back to the production (remote) repo, unless both `lighthouse` and `jxboot-helmfile-resources` charts are removed.

Slack ref thread discussing this bug, and the final solution: https://kubernetes.slack.com/archives/C9MBGQJRH/p1627394257404400

**Proposed Solution:**
Removed `jxboot-helmfile-resources` ref fro

[2021-10-16 12:13] #3466 closed

[2021-10-16 17:01] #3455 closed

[2021-10-23 18:10] haysclark opened #3470 ""How do I delete an application?" has incorrect flag."
**This is a Bug Report**

**Problem:**

[code]

**Proposed Solution:**

Should suggest `--repo` flag

[code]

**Page to Update:**
https://jenkins-x.io/v3/develop/faq/using/#how-do-i-delete-an-application

**Steps to Reproduce:**

- run `jx application delete --name cuttlefish`
- note: `Error: unknown flag: --name` error

[2021-10-23 19:05] #3470 closed, assigned to nobody

[2021-10-29 07:11] abitrolly opened #3473 "Discourse forum does not exist"
**This is a Bug Report**

**Problem:**

![image](https://user-images.githubusercontent.com/8781107/139391266-3b913d02-ae4b-4bbe-85b6-eaf239302987.png)

**Steps to Reproduce:**

https://jenkinsx.discourse.group/

Ref. https://github.com/jenkins-x/jx/issues/7044

[2021-10-29 07:16] abitrolly opened #3474 "What are the project scopes?"
**This is a Bug Report**

**Problem:**

The "conventional commit message" at https://jenkins-x.io/community/code/#the-commit-message needs a scope, but no scopes are documented. What are scopes for main repo and for `jx-docs`?

**Page to Update:**

https://jenkins-x.io/community/code/#the-commit-message

[2021-10-30 11:07] ankitm123 commented on #3474
Scopes are purely optional, and so we leave it to the contributors to decode what they want to include.
Few things that come to mind are:
* docker
* js/css
* language (english/spanish/chinese)
* docsy/theme (the hugo theme we use)
As for the main project, jx v3, unlike jx v2 (which was a monolith), is made up of multiple repos, and defining scopes is even harder.

[2021-10-30 11:10] ankitm123 commented on #3473
Not sure, when it was taken down. We should remove it from the docs. We are very active in slack, and use github issues.

[2021-10-30 11:14] abitrolly commented on #3474
@ankitm123 I don't see anybody referencing scopes in https://github.com/jenkins-x/jx except dependency bot. Where are they used?

[2021-10-30 14:18] ankitm123 commented on #3474
They are mostly used to give an idea to the reviewer which part of the code base is being changed.
In an ideal world, scope would be used to ask for reviews from SMEs (Subject Matter Experts) of that part of the codebase.
So say for example, reviewer A sees a commit message:
[code]
He knows the change is related to helmfiles, and would assign the PR to a reviewer who knows how helmfiles are used i

[2021-10-30 14:43] #3473 closed

[2021-11-01 08:02] galaxyNeha opened #3476 "Failed to find the dev Environment"
error: failed to validate options: failed to find the dev Environment: Get "https://192.168.49.2:8443/apis/jenkins.io/v1/namespaces/jx-git-operator/environments?labelSelector=env%3Ddev": dial tcp 192.168.49.2:8443: connect: no route to host

[2021-11-01 13:34] abitrolly commented on #3474
Here is the list of all project change types and scopes from this repo sorted by usage.
[code]

[2021-11-01 14:41] abitrolly commented on #3474
And here are stats from the `jx` repo.

<details>
  <summary>Click to expand</summary>

[code]

</details>

[2021-11-01 14:51] ankitm123 commented on #3474
Sorry, what is the issue here? I am a bit confused ...
You can see this: https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#commit-message-format

[2021-11-01 15:03] ankitm123 commented on #3474
So in ur example, scope for these commits would be:
[code]

sidebar, pencil, menu, Jenkinsfile, jenkinsfile ... Not super useful imo.
It's not mandatory as defined by conventional commits.

[2021-11-01 15:17] abitrolly commented on #3474
@ankitm123 we are talking about `jx` project right? There is no `pencil` here, or I am missing something.

[2021-11-01 15:18] abitrolly commented on #3474
The issue is to get a handy lookup page without too much references to external sites.

[2021-11-01 15:39] ankitm123 commented on #3474
We can just mention that scope is optional in the docs. wdyt?

[2021-11-01 21:48] abitrolly commented on #3474
Yep.

But it still interesting to see how types/scopes are actually used. Because there are no changelogs generated, maybe there can be a link to script that is bumping versions?

[2021-11-02 09:19] abitrolly commented on #3474
Some of the most popular scopes for `jx`.

[code]

<details>
  <summary>Click to expand</summary>

[code]
</details>

Does adding https://github.com/conventional-changelog/commitlint and formalizing the scopes make sense for `jx` projects?

[2021-11-02 17:24] ankitm123 commented on #3476
Closing this, as mentioned in slack, this is resolved now.
/close

[2021-11-02 17:24] #3476 closed

[2021-11-03 11:24] sidkris77 opened #3479 "Docs explaining real world scenarios"
**This is a Feature Request**

**What would you like to be added**
It would be great if the docs explain real world scenarios like integrating security scanners like Clair/Trivy/Anchore. Including other micro services in a preview environment as part of an integration test. Unfortunately could find no documentation on these. There seems to be no books on JenkinsX v3 or courses. Quite a few using v

[2021-11-03 12:19] ankitm123 commented on #3479
We can add docs on that, it would most probably be a task in the jx3-pipeline-catalog repository.

Can you open few issues around those? I can try to fill in the gaps (or triage it, and ask people in the community who know the most about it to contribute).

Can you point me to the issues with EKS?

[2021-11-03 12:36] sidkris77 commented on #3479
1) Does not seem to work with K8S version 1.21 so used 1.20.

2) The only Terraform eks-jx version that worked for me was 1.15.37. The ref in the source doesnt work so removed it.

[code]

3) The EKS vault chart points to a non-existant vault-instance repo. Had to manually modify it to the one below.

.terraform/modules/eks-jx/modules/vault/charts.tf

[code]

[2021-11-03 12:50] sidkris77 commented on #3479
Thanks. Raised an issue here: https://github.com/jenkins-x/jx3-pipeline-catalog/issues/929

[2021-11-03 13:07] ankitm123 commented on #3479
If you are using vault, then we have to wait for these 2 PRs to be merged: https://github.com/jenkins-x-charts/vault-instance/pull/12 and https://github.com/jenkins-x/terraform-aws-eks-jx/pull/320
If you are not using vault, and still seeing issues with 1.21, I would like to know what the issue is.

Yes, that ref is being appended, and I am not sure where it's coming from, I will see how to fix th

[2021-11-03 19:08] #3474 closed

[2021-11-06 15:44] sidkris77 commented on #3479
Decided to go with another CI/CD provider in the end. A lot more plumbing involved. but at least thats documented.

[2021-11-09 20:32] xicubed opened #3483 "followed the mac instructions got an error on '$ jx help`"
Ran:
[code]

[2021-11-09 20:36] xicubed commented on #3483
Oh, this works...
[code]

[2021-11-10 01:45] ankitm123 commented on #3483
Yes `jx --help` is the right command.
/close

[2021-11-10 01:51] #3483 closed

[2021-11-19 08:17] cx2c opened #3485 "The document is written like shit, how do I install it on my own k8s cluster"
特别简单 我就是要在我自己的集群安装jenkins-x 3, 在所有云原生的项目里，你们家的文档写的是最差的，毫无逻辑性可言，关联跳来跳去，真tm服了！

[2021-11-23 12:43] rupipal commented on #3404
Hi,
I'm following https://jenkins-x.io/v3/about/how-it-works/  , one of the linked pages, https://jenkins-x.io/zh/v3/admin/ , has no instruction. Id install on minikube. Would be helpful if helm charts are available.

regards
rps

[2021-11-23 12:50] ankitm123 commented on #3404
Please refer to the english pages, they are updated: https://jenkins-x.io/v3/admin/. There is a doc PR which should get merged soon, which has a guide on how to install jx on k3s as well: https://github.com/jenkins-x/jx-docs/pull/3487

[2021-11-30 13:26] danielosg opened #3488 "CLI doesn't work after follow Doc's instructions"
After installing JX cli in Mac and Linux I always get the same error when running "jx help"

ERROR: failed to load plugin jx-help: can't find latest version of plugin: {"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-the-latest-release"}

I guess some step is missing.

[2021-11-30 14:54] ankitm123 commented on #3488
There is no plugin named `jx-help` (probably some weird remains from previous install (?)), what u can do is remove the jx-help binary from the `~/.jx3/plugins/bin` folder, and then run jx plugin upgrade again.
I will add this to the documentation tonight.

[2021-11-30 16:02] ankitm123 commented on #3488
Also, there is no jx help command, it's `jx --help`

[2021-11-30 16:19] danielosg commented on #3488
Ok, thanks then the Doc need just a minor update
![image](https://user-images.githubusercontent.com/72084247/144085820-f6451509-6c02-48b8-8689-9b77aca461b3.png)

[2021-11-30 16:23] danielosg commented on #3488
PR created https://github.com/jenkins-x/jx-docs/pull/3489

[2021-11-30 17:44] #3488 closed

[2021-12-09 02:28] Renanh opened #3494 "Error jx-webhook - Installation"
I've made several attempts to correctly create this, but it continues to show these errors, I loved the tool but the bad documentation is worrying, how to use with istio for example. need more risk details in the documentation for development. So no one will have the courage to put it in production, I agree it's fantastic but it's failing for the basics I think.

Even the video demonstrating perfo

[2021-12-09 03:10] ankitm123 commented on #3494
This is a known issue with kuberhealthy checks with Jenkins X, u can ignore it for now ... are there other issues apart from this one?

[2021-12-17 23:40] ankitm123 commented on #3494
/close
closing this as I think this was resolved here and in slack.

[2021-12-17 23:44] #3494 closed

[2021-12-27 21:03] faisalthaheem opened #3499 "Add detailed configuration requriements for k3s"
**This is a Feature Request**

**What would you like to be added**
Specify in the documents that when setting up with k3s the following environment variables should be defined
KUBERNETES_SERVICE_HOST=127.0.0.1
KUBERNETES_SERVICE_PORT=6443

**Why is this needed**
No instruction is given how to configure jx to use a custom k3s endpoint when running step "jx admin operator" command and it just fails

[2021-12-28 12:51] ankitm123 commented on #3499
Is kubectl able to connect to custom k3s endpoint without those env variables, but jx is not (is `kubectl get nodes` working?)? If yes, then it should be added.
Also, I think it might be better to link the relevant k3s docs, so that the end users can verify if they can connect to the cluster or not,  wdyt?

Few other thing that are missing in the docs include, when to use ngrok for example.
You wo

[2022-01-22 16:30] ankitm123 opened #3516 "switch to docsy go module"
**This is a Feature Request**

https://github.com/google/docsy/discussions/535

Switch to go modules for docsy instead of git submodules.

[2022-01-26 09:50] babadofar opened #3521 "Improve search by adding more meta info in the results list"
**This is a Feature Request**

Searching for "secrets" lists three pages named secrets. Only by hovering on the links you may see that these belong in  different folders.
**What would you like to be added**
Should add the folder /category name as part of the search result
**Why is this needed**
To add clarity and remove confusion
**Comments**

[2022-01-29 09:21] rajatgupta24 opened #3522 "Fix the margin in homepage"
**This is a Bug Report**
Content getting clipped in mobile view

**Problem:**
![image](https://user-images.githubusercontent.com/55191777/151655307-e47d3efc-788c-451f-a426-d1eba676cca2.png)

**Proposed Solution:**
![image](https://user-images.githubusercontent.com/55191777/151655336-7348d5a7-3abf-4546-b61a-87983ff7fa65.png)

**Page to Update:**
https://jenkins-x.io/docs/....

**Steps to Reproduce:

[2022-01-29 17:38] ankitm123 commented on #3522
Known issue for some, would you like to make a contribution to fix this? The other thing is we dont have sidebar in mobile view.

[2022-01-30 09:43] rajatgupta24 commented on #3522
Sure, I'll get on with it

[2022-01-30 13:08] rajatgupta24 commented on #3522
/assign

[2022-02-01 01:47] #3522 closed

[2022-02-09 13:58] rajatgupta24 opened #3535 "Changing footer layout & adding new links"
**This is a Feature Request**
Changing footer layout & adding new links

**What would you like to be added**

![image](https://user-images.githubusercontent.com/55191777/153215131-a2870a5c-68ba-4f58-b291-ad8c2bbafece.png)

**Why is this needed**
It looks a bit clean

**Comments**

[2022-02-09 14:08] ankitm123 commented on #3535
Agreed, looks cleaner!

[2022-02-19 16:45] ankitm123 commented on #3535
/close fixed already (@rajatgupta24 next time, add fixes #<issue> in ur PR, then github will automatically close the issue)

[2022-02-19 16:45] ankitm123 commented on #3535
/close

[2022-02-19 16:45] #3535 closed

[2022-02-23 09:01] outjoker opened #3549 "Support for workloads on compute or non K8s platforms"
We have observed that using K8s we can enable CI CD using jenkins X

we also wanted to look at the docs or examples for usecases where we can achieve this for Compute or non k8s usecases as well

Kindly Consider the below example

- deploy a VM on any of the public/private cloud service providers
- post VM deployment, I want to install software on the provisioned VM or patch some security fixes to

[2022-02-23 17:11] rebelopsio opened #3551 "Broken links in content/en/v3/admin/platforms/on-premises/_index.md"
**This is a Bug Report**

**Problem:**

Currently there are two broken links to guides that are hosted externally but are no longer accessible. The links both point to the same domain and return a 503.

Both links reside in file `content/en/v3/admin/platforms/on-premises/_index.md`.

First one:
https://github.com/jenkins-x/jx-docs/blob/38107f864abbe8f123a8ffffb9dab73c0d079ae5/content/en/v3/admin/p

[2022-03-06 13:25] ankitm123 commented on #3551
Is that web server down (007ba7.us)? It is probably a good idea to not to link to external blogs, and instead use official kubernetes documentation, so something like this: https://kubernetes.io/docs/setup/#production-environment would make more sense.

[2022-03-06 16:13] rebelopsio commented on #3551
@ankitm123 yes it appears to be down. I let this issue sit for a bit before opening a PR, but it's remained down. I have a PR currently open to remove the links since I didn't have a resource to replace them. See #3555.

If you think it would be better to replace the broken links, I can update and point to the official docs you linked.

[2022-03-06 16:19] rebelopsio commented on #3551
@ankitm123 Also, the first link (same domain) references a tutorial for installing JX in a lab environment, which I don't have an official Jenkins X link to replace that one with.

[2022-03-09 16:09] Chabouchakour opened #3557 "Some jx commands are unavailable"
Installed jx via the documentation on linux. First of all, jx version --short doesn't work (only js version). In addition to that, while trying a lot of commands like jx boot I get failed to load plugin. Would appreciate the help, thank's.

[2022-03-09 19:43] ankitm123 commented on #3551
I think for now, we can remove them. If we come across better links, we can add them back imo.

[2022-03-09 20:54] rebelopsio commented on #3551
Sounds good! Thanks @ankitm123

[2022-03-09 23:48] ankitm123 commented on #3557
Which docs did you follow? Seems like u saw the v2 docs. This is for v3: https://jenkins-x.io/v3/admin/setup/jx3/

[2022-03-09 23:49] ankitm123 commented on #3551
merged, thanks for the PR :100:
/close

[2022-03-09 23:49] #3551 closed

[2022-03-09 23:54] ankitm123 commented on #3549
To be clear, do u mean using Jenkins X to deploy VMs (like say aws ec2) using something like terraform/ansible and then running some ansible playbook or puppet tasks to provision the software?

You can probably run a step in the pipeline to do that.
* first step runs terraform and creates the ec2
* second step runs the ansible playbook

[2022-03-10 07:07] Chabouchakour commented on #3557
First time followed the v2 but then I followed this one and still "jx boot" and "jx install" and other commands don't work.

[2022-03-10 07:08] Chabouchakour commented on #3557
Here is the error I get:
ERROR: failed to load plugin jx-boot: can't find latest version of plugin: {"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-the-latest-release"}

[2022-03-10 12:38] ankitm123 commented on #3557
there is no jx boot and jx install anymore, those are v2 sub commands.
If you are trying to install jx on a cluster, use the admin guide for the desired platform: https://jenkins-x.io/v3/admin/platforms/

[2022-03-11 14:23] tomhobson opened #3559 "Update documentation for jenkins-x Cloud Events integration"

[2022-03-12 19:43] blackjack-jx-1 opened #3562 "How is helpful. you are clearly between version 2 and 3 and there is no clear instructions on what works and what is a dead end."

[2022-03-13 15:07] ankitm123 commented on #3562
v2 is not maintained anymore, we have a banner on all v2 docs, saying users to use v3.
I am making a change now to make that even more clear.
Let us know if that helps.

[2022-03-13 15:08] ankitm123 commented on #3562
Also, if there are any documents related to v2 which dont have that banner, please post it in this issue, and I will take care of it.

[2022-03-15 05:04] aabhas-sao commented on #3516
Hey @ankitm123,

I find this issue interesting and would like to work on it.
I found this article on how to migrate to the module.
https://deploy-preview-802--docsydocs.netlify.app/docs/updating/convert-site-to-module/

[2022-03-17 10:07] ankitm123 commented on #3516
Sgtm

[2022-03-20 10:36] faisalthaheem opened #3569 "Improve vault login command - Setup with k3s"
Instead of writing this command inline as "try the command vault login myroot ." it should be written with code formatting as below
[code]
Notice the dot "." at the end of the current format, for someone unfamiliar with vault it's easy to mistake that part of the code.

[2022-03-20 15:57] #3516 closed

[2022-03-22 14:59] faisalthaheem commented on #3569
Sure, will do.

[2022-03-29 08:08] #3521 closed

[2022-03-29 10:49] babadofar opened #3576 "feat: search results should be filtered by the language of the current section"
**This is a Feature Request**
We should filter out spanish and chinese results when searching from english language pages and vice versa

**Why is this needed**
To remove noise

[2022-03-29 16:19] xiao-jay opened #3579 "Too little localization（CN）"
- [x] read Localization_Chinese.md

i found readme and docs(v3) are not translate to Chinese, i am willing to translate it.

postscript: I am a junior from Hangzhou Dianzi University,tring to learn more about community,but i konw nothing，so i think translate is a easy and meaningful way to join it.

[2022-03-29 20:22] ankitm123 commented on #3579
Hi @xiao-jay , that would be awesome!
Only the readme in english is up to date.

[2022-03-30 01:19] LinuxSuRen commented on #3579
Hi @xiao-jay , So glad to see you are willing to help us. That is great!

[2022-03-30 12:06] #3576 closed

[2022-03-31 15:48] xiao-jay commented on #3579
hello，@LinuxSuRen,
i've been a little busy lately, so i think i will translate a page every week.Does this issue  need to be keep open or will be closed and opened on my next contribute?
for example: [Docs-About-Jenkins](https://jenkins-x.io/v3/about/what/) is a page.

[2022-03-31 16:27] #3579 closed

[2022-04-01 00:15] LinuxSuRen commented on #3579
IMO, it's not necessary to create an issue for each translation.

[2022-04-01 12:02] osamamagdy opened #3583 "Updating contribution guide"
This issue has the same required changes mentioned [here](https://github.com/jenkins-x/jx/issues/8118)

[2022-04-10 12:58] xiao-jay opened #3594 "make server error"
**This is a Bug Report**
#### env:mac m1 2021
when i follow the readme and run make server and get the error
[code]

**Page to Update:**

readme_CN some link can not work
such as
[code]

[2022-04-12 08:34] xiao-jay commented on #3594
hello，have someone know how to solve this hugo problem

[2022-04-13 07:13] babadofar commented on #3499
I don't think this issue applies anymore, k3s is used by several people and not seeing this issue reported.

[2022-04-13 07:13] #3499 closed

[2022-04-13 07:48] babadofar opened #3596 "make linkcheck shows 43 errors"
**This is a Bug Report**

**Problem:**
running ´make linkcheck` shows 43 errors. These seem to be internal links.

**Proposed Solution:**
Fix links, alternatively, fix the linkcheck so it doesn't report false positives. Tested some links, and they worked.

**Page to Update:**

**Steps to Reproduce:**
checkout repo and run
`make linkcheck`

Output:
[code]

[2022-04-14 10:43] #3583 closed

[2022-04-15 23:20] #3479 closed

[2022-04-19 23:47] ankitm123 commented on #3562
Going to close, as I think it's pretty clear from the docs that v2 is unsupported.

[2022-04-19 23:47] #3562 closed

[2022-04-21 10:50] babadofar opened #3598 "Modify admin platform guides to add scripts and help for windows users"
**This is a Feature Request**
Should add documentation on how to install Jenkins X on windows platforms.
Both the minikube and k3s guides, and everywhere else that shows bash commands

**What would you like to be added**
Where bash commands are displayed, we should show the same commands using powershell
**Why is this needed**
We can attract more users by making it easy to get started on windows.

[2022-04-24 16:41] aabhas-sao commented on #3594
hey, @xiao-jay this might probably be due to docsy used as a Hugo module. Let me check it out. I am getting a different error though.

env: M1 mac

[code]

[2022-05-02 00:09] jbkomo opened #3603 "my job"
this is a boy.

[2022-05-13 21:43] #3603 closed

[2022-05-18 21:16] XiaotongLi0709-Houzz opened #3608 "how to setup tls and dns in AWS EKS?"

[2022-06-19 20:36] #3557 closed

[2022-06-20 17:57] vpvmohan opened #3617 "How to view pipeline run logs when jx-dash is not available"
**This is a Feature Request**
Should add documentation on how to view pipeline logs from cluster directly.

**What would you like to be added**
The place where we are providing details on viewing pipe logs using jx dash

**Why is this needed**
This will help JenkinsX user when they face an issue like jx dash ui unable to retrieve log file from S3 bucket, or when jx dash ui is not available due to

[2022-07-05 13:09] #3387 closed

[2022-07-11 11:03] rajatgupta24 opened #3627 "Building a new website for Jenkins X"
# Enhancement proposal for new Jenkins X website

Greetings to all.

We are already beginning the process of redesigning the Jenkins X website after talking with the maintainers during office hours.
We want to work on the landing page for the first step.

For it, we're making a Figma design (not GA).

## Problem Statement

The present website is functional, but it doesn't appear to be consistently

[2022-07-13 17:20] daniel301991 opened #3630 "Jenkins X 3.x"

[2022-07-16 12:26] #3630 closed

[2022-08-04 20:33] gonzalochief opened #3637 "Amazon"
There is an improvement to be made in teh documentation when detailing "Choose the cluster git repository based on the secrets backend"
Issue: when detailing the steps to set up JX3 using AWS Secret manager: based on the [jx3-gitops-repositories/jx3-eks-asm](https://github.com/jx3-gitops-repositories/jx3-eks-asm)

The documentation should instruct to se the following variables in the main.tf file:

[2022-08-04 20:41] gonzalochief commented on #3637
Maybe something like:

After
![Screenshot from 2022-08-04 15-40-25](https://user-images.githubusercontent.com/57230398/182948489-0b29956c-765e-423c-a4a0-bc97fcc607ad.png)

Make sure to make the following modifications to the main.tf file:
Delete "vault_user" parameter
Set "use_vault" to false
Set "use_asm" to true
Set "create_asm_role" to true

[2022-08-30 16:29] gonzalochief opened #3639 "CLI - Upgrade issue when running command on non root ser"
There is an error that appears when running `jx upgrade cli` with a non-root account, using an installation as describe below:
[code]
The error is related to lack of permissions to access the directory /usr/local/bin when trying to create "jx.new". This directory has 755 permissions.
The command fails even when running with sudo.
The error disappears when the permissions of the directory are chang

[2022-09-03 15:10] andikemgitopsbot opened #3641 "Platform Observability - Loki chart repo deprecated and relocated"
The repository was deprecated and moved to new link
source: https://github.com/grafana/helm-charts/tree/main/charts/loki

[code]

new location:
https://github.com/grafana/loki/tree/main/production/helm/loki

[2022-09-07 17:52] anudeep-bpgc commented on #3089
Hi @ankitm123 ,
This issue seems to be a great choice to start my journey towards FOSS contribution
The issue is still open, may I work on the same.

[2022-09-08 13:24] ankitm123 commented on #3089
@anudeep-bpgc yes, please go ahead!

[2022-09-10 15:51] anudeep-bpgc commented on #3089
/assign

[2022-09-17 13:50] shivam-Purohit commented on #2960
@ankitm123 Is the issue still persistent? Can I work on this issue ?

[2022-09-17 14:53] shivam-Purohit commented on #3456
I can help with the documentation if not already done . Can I work on this issue?

[2022-09-18 06:50] rajatgupta24 opened #3654 "changing docker-compose to docker compose in makefile"
# This is a Feature Request
Hello team
I was setting up jx-docs locally and I run `make compose-up` to start the docker container.
It shows this error

[code]

I'm using
OS: Ubuntu 20.04
Make Version: 4.2.1
Docker version: 20.10.12, build 20.10.12-0ubuntu2~20.04.1
Docker Compose version: v2.10.2

# What would you like to be added
On installing docker, docker compose is installed not docker-compose

[2022-09-20 23:30] spaily opened #3656 "Help link is broken"
**This is a Bug Report**

**Problem:**
https://007ba7.us/howto/nfs-storage/ link is broken

**Proposed Solution:**
https://007ba7.us/howto/nfs-storage/ works

**Page to Update:**
https://github.com/jenkins-x/jx-docs/blob/main/content/en/v3/admin/platforms/on-premises/_index.md

**Steps to Reproduce:**
Go to https://jenkins-x.io/v3/admin/platforms/on-premises/ and click on [these instructions usefu

[2022-09-21 05:02] shivam-Purohit commented on #3656
@spaily both the links doesn't seem to be working.

[2022-09-24 13:12] #3654 closed

[2022-09-28 02:07] ankitm123 commented on #3456
Yes

[2022-10-07 18:10] subhamgcon commented on #3627
I want to work on the documentation part. Is this issue still open? @rajatgupta24

[2022-10-17 17:40] anudeep-bpgc commented on #3089
Hi @ankitm123 , I have raised a PR for this issue, kindly review and update regarding the same

[2022-10-18 11:29] odinxux opened #3664 "new lens 6.0.1 doesn't support jx plugin"

[2022-11-16 11:06] babadofar opened #3675 "Build broken"
**This is a Bug Report**

**Problem:**@
Jenkins X pipeline reports this error

Re-run Hugo with the flag --panicOnWarning to get a better error message.
--
  |   |   |   | ERROR 2022/11/14 09:58:48 Failed to get JSON resource "https://api.github.com/repos/jenkins-x/jx/stats/contributors": Failed to retrieve remote file: Unauthorized, body: "{\"message\":\"Bad credentials\",\"documentation_url\":\"

[2022-11-17 14:14] rajatgupta24 commented on #3627
Yeah, we are still working on the documentation part, you can join too.

[2022-11-18 12:58] #3675 closed

[2022-11-19 23:17] rutviklhase opened #3680 "The documentations for first-time installers recommend 1.17.x version of Go. Should that be updated to 1.18.x?"
I noticed we're upgrading from Golang 1.18.x to 1.19.x
However, the documentation for first-time installers still recommends installing 1.17.x. Should that be changed to either 1.18.x or 1.19.x?

**Page to Update:**
https://jenkins-x.io/community/code/

[2022-11-21 13:58] ankitm123 commented on #3680
1.19.X

We now use go 1.19.X for some of the repos and there is an open issue tracking the progress.

[2022-11-21 16:05] rutviklhase commented on #3680
@ankitm123  I'd be happy to update it. Is there anything else in docs which needs updating regarding the Golang update? I can pack the changes in a single PR.

[2022-11-23 02:02] narendra7095 opened #3682 "Jenkins X 3.x"
hii iam learning devops course at bangalore

[2022-11-24 19:42] #3682 closed

[2022-11-25 08:08] ADITYADAS1999 commented on #3656
This issue is still open?